# Copyright (c) 2024 Kawaxte
# 
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

# PostgreSQL
# <username>:<password>@<host>:<port>/<database>
DATABASE_URL=postgres://postgres:password@localhost:5432/postgres

# Discord Developer Portal
DISCORD_TOKEN=

RUST_LOG="info,serenity=warn,wakalaka=info"